<%= form_with(model: @trip, local: true, class: "space-y-4") do |f| %>
  <div class="field">
    <%= f.label :title, class: "text-sm font-medium" %>
    <%= f.text_field :title, class: "flex h-10 w-full rounded-md border" %>
  </div>
  <div class="field">
    <%= f.label :description, class: "text-sm font-medium" %>
    <%= f.text_area :description, class: "flex h-32 w-full rounded-md border" %>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div class="field">
      <%= f.label :start_date, class: "text-sm font-medium" %>
      <%= f.date_field :start_date, class: "flex h-10 w-full rounded-md border" %>
    </div>
    <div class="field">
      <%= f.label :end_date, class: "text-sm font-medium" %>
      <%= f.date_field :end_date, class: "flex h-10 w-full rounded-md border" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :location_name, "Location", class: "text-sm font-medium" %>
    <%= f.text_field :location_name, class: "flex h-10 w-full rounded-md border", 
                     data: { controller: "places" } %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  <%= f.button type: "submit", class: "px-4 py-2 bg-[#006D77] text-white rounded-lg hover:bg-[#264653] transition-colors duration-200 flex items-center justify-center gap-1 w-full cursor-pointer" do %>
    Create Trip
  <% end %>
<% end %>