<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Planit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_maps_api_key}&libraries=places",
      "data-turbo-track": "reload", defer: true, async: true %>
    <style>
      :root {
        --color-primary: #006D77;
        --color-secondary: #E29578;
        --color-accent: #83C5BE;
        --color-neutral: #FFDDD2;
        --color-dark: #264653;
      }
    </style>
  </head>
  <body class="h-full min-h-screen">
    <div class="flex min-h-screen flex-col bg-gradient-to-br from-[#83C5BE] to-[#FFDDD2] antialiased">
      <%= render 'shared/navbar' %>
      <div class="relative">
        <%= render 'shared/flash' %>
      </div>
      <main class="flex-grow <%= content_for?(:main_class) ? yield(:main_class) : 'container mx-auto px-4 sm:px-6 lg:px-8 py-8 space-y-6' %>">
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>